.bgImage {
    background-image: url('../../../public//assets/hero-cover.jpg');
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat; 
    min-height: 500px;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .bgImage {
      min-height: 300px; 
    }
  }
  
  @media (max-width: 480px) {
    .bgImage {
      min-height: 200px; 
    }
  }