.bgImage {
    background-image: url('../../../public//assets/hero-cover.jpg');
    background-size: cover; /* Ensures the image covers the entire section */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    min-height: 500px; /* Set a minimum height for the section */
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .bgImage {
      min-height: 300px; /* Adjust height for smaller screens */
    }
  }
  
  @media (max-width: 480px) {
    .bgImage {
      min-height: 200px; /* Adjust height for mobile screens */
    }
  }